<!doctype html>
<html>
  <head>
    <%= partial 'partials/analytics' if build? %>
    <%= partial 'partials/head' %>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    <div class="flex flex-col h-screen">
      <div id="main" role="main" class="w-full grow">
        <%= yield %>
      </div>

      <footer class="bg-slate-800 grow-0">
        <div class="container mx-auto text-slate-400 py-1 text-center text-sm">
          <% if current_page.data.publication_year %>
            Copyright <%= current_page.data.publication_year %>-<%= Date.today.year %> Chris Kottom
          <% else %>
            Copyright <%= Date.today.year %> Chris Kottom
          <% end %>
        </div>
      </footer>
    </div>
  </body>
</html>
