<!doctype html>
<html>
  <head>
    <%= partial 'partials/analytics' if build? %>
    <%= partial 'partials/head' %>
    <%= partial 'partials/base_fonts' %>
    <%= partial 'partials/favicons' %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "site.min" %>
    <script>
      // Load darkMode from localStorage, must be in HEAD to avoid FOUC
      if (localStorage.darkMode && localStorage.darkMode.toLowerCase() == 'true') {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body>
    <div class="flex flex-col h-screen">
      <%= partial 'partials/navigation' %>

      <div id="main" role="main" class="container grow w-full max-w-2xl px-6 md:px-0 lg:max-w-4xl mx-auto mt-24 transition-all">
        <%= yield %>
      </div>

      <%= partial 'partials/footer' %>
    </div>
  </body>
</html>
